:root{
    --sidebar-bg-color: #2c3e50;
    --sidebar-text-color: #ecf0f1;
    --sidebar-hover-bg-color: #34495e;
    --sidebar-hover-text-color: #ecf0f1;
    --main-bg-color: #ecf0f1;
    --main-text-color: #2c3e50;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    height: 100vh;
}

.sidebar{
    width: 275px;
    height: 100vh;
    padding: 25px 10px;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    position: fixed;
    top: 0;
    left: 0;
}

.header-sidebar img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header-sidebar{
    text-align: center;
}

.header-sidebar h3{
    margin-top: 15px;
    font-size: 22px;
}

.menu-sidebar ul{
    list-style: none;
    padding-left: 0;
}

.menu-sidebar{
    margin-top: 35px;
}

.menu-sidebar ul li a{
    display: block;
    text-decoration: none;
    color: var(--sidebar-text-color);
    font-size: 16px;
    margin-top: 10px;
    padding: 15px 15px;
}

.menu-sidebar ul li a i{
    padding-right: 15px;
    font-size: 20px;
}

.menu-sidebar ul li.active a, .menu-sidebar ul li a:hover{
    color: var(--sidebar-hover-text-color);
    background-color: var(--sidebar-hover-bg-color);
    transition: all 500ms;
    border-radius: 10px;
}

main{
    margin-left: 275px; 
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex: 1;
    align-items: center;
}

main h1{
    text-align: center;
    font-size: 2em;
    color: #333;
    margin: auto;
    padding: 2rem;
    font-size: 3rem;
}

header{
    padding: 0;
    margin: 0;
}


.main-navbar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.main-navbar button{
    flex-basis: 10rem;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: var(--sidebar-bg-color);
    padding: 0.6rem;
    cursor: pointer;
}

.main-navbar button:hover{
    background-color: var(--sidebar-hover-bg-color);
}

.main-content{
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    display: none;
}

.expense-section {
    margin-bottom: 2rem;
    display: none;
    overflow-x: auto; 
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.form-area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    gap: 1rem;
}

.table-area {
    height: 50vh;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.even-row {
    background-color: #f9f9f9;
}

.actions{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

.actions button{
    flex-grow: 1;
}

label{
    font-weight: bold;
}

input, select{
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    width: 18rem;
}

button {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    border: none;
    padding: 0.6rem 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--sidebar-hover-bg-color);
}

dialog{  
    position: fixed;
    z-index: 1;
    top: 15%;
    width: 80%;
    left: 20%;
}

.add{
    width: 50%;
}

.add-buttons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.add-buttons button{
    width: 10rem;
}

.add form select{
    width: 100%;
}

.add form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.add form input{
    width: 96%;
}

.add form select{
    width: 98%;
}

.add form button{
    width: 100%;
}

#sort-form{
    display: flex;
    gap: 1rem;
}

#sort-form .sort-area{
    flex-basis: 5rem;
}

#sort-form .search-area{
    flex-basis: 5rem;
}

.clickable-th{
    cursor: pointer;
}

.clickable-th:hover{
    background-color: #34495e;
    color: #ecf0f1;
}



.card-view-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 5vh;
}

.card-view-solo-area{
    display: grid;
    grid-template-columns: (1, 1fr); 
    grid-gap: 5vh;
    justify-content: center;
}


.card-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-view h3{
    margin: 0;
    padding: 0;
}

#good{
    background-color: #2ecc71;
}

#bad{
    background-color: #e74c3c;
}

#solo{
    background-color: #f39c12;
}

.card-view-solo-area .card-view div{
    font-size: 1.5rem;
    font-weight: bold;
}

datalist{
    display: none;
}

.form-area form, .form-area button{
    flex-basis: auto;
}

